* {
    box-sizing:border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    padding: 16px;
    position: sticky;
    top: 0;
    background: hsl(0, 0%, 100%);
    border-bottom: 1px solid;
}


header nav > a {
    margin: 16px;
    text-decoration: none;
    padding: 8px;
}
header nav > a:hover {
    text-decoration: underline;
}
footer {
    padding: 16px;
    text-align: center;
    border-top: 1px solid;
    background: #e4cab2;
    color: black;
}
/*Container class*/
.container {
    padding: 16px;
}

.container > section > h2 {
    text-align: center;
}

/*Intro class*/
.intro {
    padding: 16px;
    margin: -16px;
    background-color: #e4cab2;
    color: #715e53;
    text-align: center;
}

/*Profile ID*/
#profile-img {
    height: 400px;
    width: 400px;
    border-radius: 192px;
    pointer-events: none;
}

/*Social-links class*/
.social-links img {
    height: 30px;
    width: auto;
}

.social-links a {
    text-decoration: none;
    margin: auto 16px;
}

/*Table Tags*/
table {
    width: 100%;
}

table, tr, td, th {
    border-collapse: collapse;
    border: 1px solid;
    width: 100vw;
}
th, td {
    padding: 8px;
    text-align: center;
}

/*Dynamic-text id and class*/
.dynamic-text-color {
    color: #7eb2d3;
}

form#contact{
    max-width: 400px;
    margin: auto;
    padding: 16px;
    border: 1px solid;
    border-radius: 16px;
}

#contact label {
    display: block;
    font-weight: 600;
}

#contact input,
#contact textarea,
#contact button {
    width: 100%;
    font-size: 1.2rem;
    padding: 8px;
}
#contact-me {
    margin-top: 16px;
}

/*Paragraph Tag*/
p {
    line-height: 2rem;
    font-size: 1.5rem;
}

/*List Tags*/
ol, ul {
    font-size: 1.5rem;
}
